/*STYLE RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*VARIABLES*/

:root{
    /*colour palette*/
    --gray-000:#ffffff;
    --gray-100:#d4d4d4;
    --gray-200:#b4b4b4;
    --gray-300:#909090;
    --gray-400:#636363;
    --gray-500:#494848;
    --color-primary:#000;
    --color-secondary: #0a0a0a;
    --color-tertiary: #1b1b1b;
    --color-accent: #F62C2C;
    --color-secondary-variant:#FAA8F6 ;
    --color-tertiary-variant: #97ECC7;


    /*transitions*/
    --bg-transition: 0.3s ease;

    /*spacing*/
    --space-s-100:0.5rem;
    --space-s-200:1rem;
    --space-s-300:1.5rem;
    --space-m-400:2rem;
    --space-m-500:2.5rem;
    --space-m-600:3rem;
    --space-l-700:3.5rem;
    --space-l-800:4rem;
    --space-l-900:4.5rem;

    /*border radius*/
    --border-radius-s:4px ;
    --border-radius-b:16px;



    min-height: 100vh;

}

h2{
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--space-m-400);
}

/*FONTS*/
/* Default Regular Version */
@font-face {
    font-family: 'Formula1';
    src: url('fonts/Formula1-Regular.otf') format('opentype');
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Normal style */
    font-stretch: normal; /* Standard width */
}

/* Default Bold Version */
@font-face {
    font-family: 'Formula1';
    src: url('fonts/Formula1-Bold.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: normal; /* Normal style */
    font-stretch: normal; /* Standard width */
}

/* Default Wide Version */
@font-face {
    font-family: 'Formula1';
    src: url('fonts/Formula1-Wide.otf') format('opentype');
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Normal style */
    font-stretch: expanded; /* Expanded width */
}


/*STYLES*/

body{
    margin: auto;
    background: #000;
    color: #fff;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 99;

}

.navbar-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: var(--space-s-100) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h2{
    font-family: 'Formula1', serif;
    font-weight: 700; /* Normal weight */
    font-style: normal; /* Normal style */
    font-stretch: normal; /* Standard width */
    font-size: 36px;
}

.hero-wrapper{
    background: url("/Images/hero-bg-2.png") no-repeat right;
    background-size: cover;

}

#hero{
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    padding: var(--space-m-500) var(--space-s-300);
    padding-bottom: 0;
}

#hero h1{
    font-family: 'Formula1';
    font-weight: 400;
    font-stretch: expanded;
    font-size: var(--space-l-700);
}

.links a{
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--space-s-300);
    text-decoration: none;
    color: #fff;
    display: inline-block;

}

#hero-content{
    margin-left:-100px ;

}

.links{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: var(--space-s-200);

}

.links a:nth-child(1){
    background: var(--color-accent);
    text-align: center;
    padding: 12px;
    width: 150px;
    border-radius: var(--border-radius-s);
}
.links i{
    font-size: 50px;
    display: inline-block;
}
.experience-wrapper{
    background: var(--color-secondary);
    background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.experience{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: var(--space-m-500) var(--space-s-300);
    padding-bottom:var(--space-l-900) ;
    gap: 36px;
}
.jobs{
    position: relative;
    z-index: 1;
    height: fit-content;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.line{
    position: absolute;
    height: 100%;
    border: 5px var(--color-tertiary)solid;
    top: 50%; /* Move 50% down from the top */
    left: 50%; /* Move 50% right from the left */
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: var(--border-radius-b);
}

.logos{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    gap: 140px;
    justify-content: center;
    align-items: center;
}



.job{
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    gap: 40px;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.job img{
    border-radius: 100%;
    z-index: 2;
}

.job-description{
    background: var(--color-tertiary);
    padding: var(--space-m-400);
    border-radius: var(--border-radius-b);
    width: 100%;
    position: relative;
}

.job hr{
    margin-bottom: -10px;
}

.job span{
    background: var(--color-tertiary);
    padding: var(--space-s-100);
    margin-left: 5px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.job h3{
    font-family: 'Formula1';
    background: var(--color-accent);
    width: fit-content;
    padding: var(--space-s-100);
    border-radius: var(--border-radius-b);
    margin-top: 20px;
    font-size: 20px;
}

.job p{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    font-size: 16px;
}

.skills {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: var(--space-m-500) 0;
    gap: 36px;
}
.skills-grid-wrapper{
    background: var(--color-tertiary);
    border-top:#fff solid 10px ;
    border-bottom:#fff solid 10px ;
    width: 100%;
}

.skills-grid-container{
    display: grid;
    grid-template-columns: 11fr 1fr;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;

    gap: 36px;
}

.skill-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:115px;
    padding: var(--space-m-600) 0;

}

.skill-grid div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.skill-grid img{
    height: 100px;
    width: 100px;
    padding: 10px;
    border: #fff solid 3px;
    border-left: none;
}

.skill-grid span{

}

.finish-line{
    width: 30px; /* Set the width */
    height: 100%; /* Set the height */
    background:
            linear-gradient(45deg, white 25%, transparent 25%) -15px 0,
            linear-gradient(45deg, transparent 75%, white 75%) -15px 0,
            linear-gradient(45deg, white 25%, transparent 25%) 0 15px,
            linear-gradient(45deg, transparent 75%, white 75%) 0 15px;
    background-size: 30px 30px;

}

@media only screen and (max-width: 1024px) {
    #hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        text-align: center;
        padding-top: var(--space-l-900);
    }

    #hero img{
        height: 75%;
        width: 75%;

    }

    #hero-content{
        margin: 0 auto;
        margin-top: -50px;
        text-align: center;

    }

    .links{
        margin-top: 10px;
        justify-content: center;
    }

    .skill-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 778px) {

}

@media only screen and (min-width: 1800px) {

}
