/*STYLE RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*VARIABLES*/

:root{
    /*colour palette*/
    --gray-000:#ffffff;
    --gray-100:#d4d4d4;
    --gray-200:#b4b4b4;
    --gray-300:#909090;
    --gray-400:#636363;
    --gray-500:#494848;
    --color-primary:#000;
    --color-secondary: #0a0a0a;
    --color-tertiary: #1b1b1b;
    --color-accent: #F62C2C;
    --color-secondary-variant:#FAA8F6 ;
    --color-tertiary-variant: #97ECC7;


    /*transitions*/
    --bg-transition: 0.3s ease;

    /*spacing*/
    --space-s-100:0.5rem;
    --space-s-200:1rem;
    --space-s-300:1.5rem;
    --space-m-400:2rem;
    --space-m-500:2.5rem;
    --space-m-600:3rem;
    --space-l-700:3.5rem;
    --space-l-800:4rem;
    --space-l-900:4.5rem;

    /*border radius*/
    --border-radius-s:4px ;
    --border-radius-b:16px;



    min-height: 100vh;

}

h2{
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--space-m-400);
}

/*FONTS*/
/* Default Regular Version */
@font-face {
    font-family: 'Formula1';
    src: url('fonts/Formula1-Regular.otf') format('opentype');
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Normal style */
    font-stretch: normal; /* Standard width */
}

/* Default Bold Version */
@font-face {
    font-family: 'Formula1';
    src: url('fonts/Formula1-Bold.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: normal; /* Normal style */
    font-stretch: normal; /* Standard width */
}

/* Default Wide Version */
@font-face {
    font-family: 'Formula1';
    src: url('fonts/Formula1-Wide.otf') format('opentype');
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Normal style */
    font-stretch: expanded; /* Expanded width */
}


/*STYLES*/

body{
    margin: auto;
    background: #000;
    color: #fff;
}

h2{
    font-family: 'Formula1';
    font-weight: 700; /* Normal weight */
    font-style: normal; /* Normal style */
    font-stretch: normal; /* Standard width */
    font-size: 36px;
}

.hero-wrapper{
    background: url("/Images/hero-bg-2.png") no-repeat;
    background-size: cover;
    background-position: right;
}

#hero{
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    padding: var(--space-m-500) 0;
    padding-bottom: 0;
}

#hero h1{
    font-family: 'Formula1';
    font-weight: 400;
    font-stretch: expanded;
    font-size: var(--space-l-700);
}

.links a{
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--space-s-300);
    text-decoration: none;
    color: #fff;
    display: inline-block;

}

#hero-content{
    margin-left:-100px ;

}

.links{
    display: flex;
    gap: var(--space-s-200);

}

.links a:nth-child(1){
    background: var(--color-accent);
    text-align: center;
    padding: 12px;
    width: 150px;
    border-radius: var(--border-radius-s);
}
.links i{
    font-size: var(--space-s-300);
    display: inline-block;
}
.experience-wrapper{
    background: var(--color-secondary);
}

.experience{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: var(--space-m-600) 0;
    gap: 36px;
}
.jobs{

    height: fit-content;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.logos{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    gap: 140px;
    justify-content: center;
    align-items: center;
}



.job{
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    gap: 40px;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.job img{
    border-radius: 100%;
}

.job-description{
    background: var(--color-tertiary);
    padding: var(--space-m-400);
    border-radius: var(--border-radius-b);
    width: 100%;
    position: relative;
}

.job hr{
    margin-bottom: -10px;
}

.job span{
    background: var(--color-tertiary);
    padding: var(--space-s-100);
    margin-left: 5px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.job h3{
    font-family: 'Formula1';
    background: var(--color-accent);
    width: fit-content;
    padding: var(--space-s-100);
    border-radius: var(--border-radius-b);
    margin-top: 20px;
    font-size: 20px;
}

.job p{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    font-size: 16px;
}

.experience-container{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: var(--space-m-500) var(--space-l-900);
    width: 100%;
}



.exp{

}
.test div{
    width: 100%;
}
.roads{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    align-items: center;
    gap:120px;

}


.road-container{
    height: 200px;
    display: flex;
    align-items: center;
}
.road{
    height: 80px;
    width: 100%;
    margin: auto;
    border-top: white 20px solid;
    background: red;
}




.exp {
    height: 200px;
    width: 100%;
    background: black;
    background-size: cover;
    border-radius: var(--border-radius);
    padding: var(--space-s-100);

}

.exp-content{
    height: 100%;
    width: 100%;
    border-right: #fff solid 3px;
    border-top: #fff solid 3px;
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--space-s-100);
    padding-top: var(--space-m-400);
    align-items: center;
    gap: var(--space-s-200);
}

.exp-content img{
    border-radius: 100%;
    position: absolute;
    top:-50%;
    left:50%;
    transform: translate(-50%,0);
    width: 120px;
    height: 120px;
    border: #000 solid 3px;

}

.exp-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-s-100);
}

.exp-information h3{
    font-family: Formula1;
    font-weight: normal;
    font-weight: 400;
    font-size: var(--space-s-300);

}

.exp-information span{
    background: rgb(225,6,0);
    padding:var(--space-s-100);
    border-radius: var(--border-radius);
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
}

.exp-information p{
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
    text-align: center;
}

.exp-content:before {
    content: "";
    position: absolute; /* Position pseudo-element over the parent */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(135deg, transparent 25%, #fff 25%, #fff 50%, transparent 50%, transparent 75%, #fff 75%, #fff);
    background-size: 11.31px 11.31px;
    opacity: 0.1; /* Adjust opacity for visibility */
     /* Ensure this layers above the background */
}
