/*STYLE RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*VARIABLES*/

:root{
    /*colour palette*/
    --gray-000:#ffffff;
    --gray-100:#d4d4d4;
    --gray-200:#b4b4b4;
    --gray-300:#909090;
    --gray-400:#636363;
    --gray-500:#494848;
    --color-primary: #8393ED;
    --color-secondary: #B684E7;
    --color-tertiary: #28B4B2;
    --color-secondary-variant:#FAA8F6 ;
    --color-tertiary-variant: #97ECC7;


    /*transitions*/
    --bg-transition: 0.3s ease;

    /*spacing*/
    --space-s-100:0.5rem;
    --space-s-200:1rem;
    --space-s-300:1.5rem;
    --space-m-400:2rem;
    --space-m-500:2.5rem;
    --space-m-600:3rem;
    --space-l-700:3.5rem;
    --space-l-800:4rem;
    --space-l-900:4.5rem;

    /*border radius*/
    --border-radius:15px;



    min-height: 100vh;

}

h2{
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--space-m-400);
}

/*FONTS*/
/* Default Regular Version */
@font-face {
    font-family: 'Formula1';
    src: url('fonts/Formula1-Regular.otf') format('opentype');
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Normal style */
    font-stretch: normal; /* Standard width */
}

/* Default Bold Version */
@font-face {
    font-family: 'Formula1';
    src: url('fonts/Formula1-Bold.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: normal; /* Normal style */
    font-stretch: normal; /* Standard width */
}

/* Default Wide Version */
@font-face {
    font-family: 'Formula1';
    src: url('fonts/Formula1-Wide.otf') format('opentype');
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Normal style */
    font-stretch: expanded; /* Expanded width */
}


/*STYLES*/

body{
    margin: auto;
    background: #000;
    color: #fff;
}

.hero{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    margin: var(--space-l-800) 0;
    padding: var(--space-m-500) var(--space-l-900);
}

.hero h1{
    font-size: var(--space-l-800);
    font-family: 'Formula1';
    font-weight: 400;
    font-stretch: expanded;


}

.hero a{
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--space-m-400);
    text-decoration: none;
    color: #fff;
}

.links{
    display: flex;
    gap: var(--space-s-200);
}

.experience-container{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111;
    padding: var(--space-m-500) var(--space-l-900);
    width: 100%;
}

.experience-road-grid{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

.exp{

}
.test div{
    width: 100%;
}
.roads{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    align-items: center;
    gap:120px;

}
.jobs{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    gap: 100px;
}

.road-container{
    height: 200px;
    display: flex;
    align-items: center;
}
.road{
    height: 80px;
    width: 100%;
    margin: auto;
    border-top: white 20px solid;
    background: red;
}




.exp {
    height: 200px;
    width: 100%;
    background: black;
    background-size: cover;
    border-radius: var(--border-radius);
    padding: var(--space-s-100);

}

.exp-content{
    height: 100%;
    width: 100%;
    border-right: #fff solid 3px;
    border-top: #fff solid 3px;
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--space-s-100);
    padding-top: var(--space-m-400);
    align-items: center;
    gap: var(--space-s-200);
}

.exp-content img{
    border-radius: 100%;
    position: absolute;
    top:-50%;
    left:50%;
    transform: translate(-50%,0);
    width: 120px;
    height: 120px;
    border: #000 solid 3px;

}

.exp-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-s-100);
}

.exp-information h3{
    font-family: Formula1;
    font-weight: normal;
    font-weight: 400;
    font-size: var(--space-s-300);

}

.exp-information span{
    background: rgb(225,6,0);
    padding:var(--space-s-100);
    border-radius: var(--border-radius);
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
}

.exp-information p{
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
    text-align: center;
}

.exp-content:before {
    content: "";
    position: absolute; /* Position pseudo-element over the parent */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(135deg, transparent 25%, #fff 25%, #fff 50%, transparent 50%, transparent 75%, #fff 75%, #fff);
    background-size: 11.31px 11.31px;
    opacity: 0.1; /* Adjust opacity for visibility */
     /* Ensure this layers above the background */
}
